### .gitignore file for COSC345

# Ignore build folder
/build/
# Ignore stock histories in assets
/assets/data/stocks
# Ignore VSCode configuration file
.vscode
# And Mac folder metadata file
.DS_Store
