@font-face {
  font-family: Evil;
  src: url(fonts/EvilEmpire-4BBVK.ttf);
}

* {
  padding: 0;
  margin: 0;
}

body {
  /* font-family: -apple-system, 'Segoe UI Light', Ubuntu, Arial, sans-serif; */
  font-family: 'Evil', sans-serif;
  overflow-x: hidden;
}

.main-width {
  width: 1400px;
  max-width: 95%;
  margin: 0 auto;
}

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  /* background: radial-gradient(#f0b57a, 20%, #703709); */
  background: #caeebf;
  position: relative;
}

.hero header .game-name h2 {
  display: block;
  font-size: 3.5vw;
  transform: scale(.7, 1);
  text-decoration: none;
  color: #2BAE66;
  letter-spacing: 5px;
  position: relative;
  top: 11px;
  /* -webkit-text-fill-color: black;
      -webkit-text-stroke-color: white;
      -webkit-text-stroke-width: 1px; */
  margin-bottom: 20px;
}

.hero header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Center elements horizontally */
  border-bottom: 2px solid #2BAE66;
  /* Add the border */

  /* Add some padding to the bottom of the header */
}

nav ul {
  list-style: none;
  display: flex;
}

/* Styles for all buttons */
button,
nav ul li button {
  border: 0;
  background: transparent;
  color: #2BAE66;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: 0.4px;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
  font-family: 'Evil', sans-serif;
  /* Add the custom font */
}

nav ul li:not(:last-child) {
  margin-right: 20px;
}

button:hover,
button:focus,
nav ul li button:hover,
nav ul li button:focus {
  border-bottom: 2px solid #2BAE66;
}

/* Container for both the background div and the graph */
.container {
  position: relative; /* Add relative positioning to the container */
}

/* Styles for the background div */
.graphBox {
  /* Set the width to 3/5 of the screen width minus 100px for spacing */
  width: calc((3/5 * 100vw));
  /* Set the height to 80% of the viewport height */
  height: 60vh;
  /* Set the right margin to 100px for spacing */
  right: 30px;
  /* Set the top margin to 100px */
  margin-top: 30px;
  /* Add some padding for the content inside the div */
  padding: 20px;
  /* Use absolute positioning to place the div against the right side */
  position: absolute;
  /* Set the background color */
  background: #f0f0f0;
  /* Add border-radius for rounded corners */
  border-radius: 10px;
}

/* Styles for the graph */
.graph {
  /* Set the width to 1/2 of the screen width minus 100px for spacing */
  width: calc((1/2 * 100vw));
  /* Set the height to 250px (you can adjust this value as needed) */
  height: 350px;
  /* Set the top margin to 100px */
  margin-top: 40px;
  /* Add some padding for the content inside the graph */
  padding: 0;
  /* Use absolute positioning to place the graph against the right side */
  position: absolute;
  /* Add borders to the right and bottom for the graph appearance */
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  /* Set the right margin to 100px for spacing */
  right: 100px;
}


#x1, #y1 {
  position: absolute;
  font-size: larger;
  }
#x1 {
  bottom: -40px;
  left: 330px;
}
#y1{
  left: -60px;
  bottom: 175px;
  }

  