html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-rows: 70px 1fr 1fr 1fr 50px;
  grid-template-columns: 1fr 1fr;
  background: #446ef8;


}

header {

  width: 100%;
  /* Ensure full width */
  display: flex;
  justify-content: space-between;
  background: white;
  /* Align items to the left and right */
  align-items: center;
  /* Center vertically */
  text-align: center;
  padding: 0 20px;
  /* Add horizontal padding to the header */
  grid-column: span 2;
}

header h1 {
  /* font-family: 'Orbitron', sans-serif; */
  /* font-size: 58px; */
  /* Your h1 styles remain the same */
  /* position: absolute; */
  left: 50%;
  color: #040568;

}

#button-container {
  display: flex;
  flex-direction: row;
  /* Arrange buttons vertically */
}

/* Style the buttons */
#home {
  display: block;
  width: auto;
  /* Let the button size adjust to content */
  padding: 10px 20px;
  /* Reduce padding to make the buttons smaller */
  background-color: #040568;
  color: #fff;
  border: none;
  border-radius: 20px;
  /* Increase border-radius for rounded edges */
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 50px;

}

#hundyyears {
  display: block;
  width: auto;
  /* Let the button size adjust to content */
  padding: 10px 20px;
  /* Reduce padding to make the buttons smaller */
  background-color: #040568;
  color: #fff;
  border: none;
  border-radius: 20px;
  /* Increase border-radius for rounded edges */
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 50px;
  margin-right: 70px;
}

/* Hover effect for buttons */
#hundyyears:hover,
#home:hover {
  background-color: #0e12db;
}

.investment-summary {
  display: flex;
  grid-column: 2;
  grid-row: 2;
  background-color: #040568;
  color: white;

  border-radius: 10px;
  margin: 20px;
  max-width: 85%;
  gap: 20px;
  padding: 20px;
  overflow-y: hidden;
}

.summary-tile {
  align-self: flex-start;

  background-color: #040568;
  color: white;

}

.tiles-container {
  overflow-y: auto;
  grid-column: 1;
  grid-row: 2 / span 3;
  max-height: 100%;
  margin: 20px;


}

.stock-tile {
  position: relative;
  padding: 20px;
  margin: 20px;
  background-color: #040568;
  color: white;
  border-radius: 10px;

}

.sell-button {
  position: absolute;
  top: 10px;
  /* Adjust this value to position the button as desired */
  right: 10px;
  /* Adjust this value to position the button as desired */
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  /* Add any other styling for the button */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  overflow: auto;
}

.modal-content {
  background-color: #040568;
  color: white;
  margin: 15% auto;
  padding: 20px;
  width: 33%;
  height: 50%;
  border-width: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  border-radius: 8px;
  position: relative;

  border-style: solid;
  border-color: 446ef8;
  border-radius: 10px;
  border-width: 5px;
  box-sizing: border-box;
}

#arrows {
  max-width: 100%;
  /* Limit the width to the container's width */
  max-height: 100%;
  /* Limit the height to the container's height */

  /* Position the element in column 2 and rows 3 and 4 */
  grid-column: 2;
  grid-row: 3 / span 2;
}


.close {
  position: absolute;
  top: 10px;
  /* Adjust this value to position the button as desired */
  right: 10px;
  /* Adjust this value to position the button as desired */
  background-color: #040568;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.close:hover {
  color: #007bff;
  /* Change color on hover */
}


.headlineParagraph,
.multiplier {
  margin-top: 10px;
  background-color: #040568;
}